/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.html {
  background-color: #fff;
  font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
  font-size: 0.938em;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  color: #545c62;
}

.container {
  width: 80%;
  max-width: 72em;
  margin: 0 auto;
  position: relative;
}

.nav {
  position: relative;
  width: 100%;
  z-index: 100;
  height: 5.3em;
  color: #ffffff;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
  color: #ffffff;
}
.nav__container__logo {
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 0.02rem;
  color: #ffffff;
}
.nav__container__menu {
  font-weight: 400;
  color: #e8e8e8;
  font-size: 0.875rem;
  padding-top: 0.25rem;
}

.nav__item--list {
  margin-left: 0.5rem;
  list-style-type: none;
}

.header {
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.header__sub {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
  color: #ffffff;
  padding: 24pt 0 8pt;
}
.header__sub__stressed {
  border-bottom: 1px solid #ffffff;
  font-weight: 400;
}
.header__overlay {
  background-image: url(https://85f3d9e16a9ac4d4a655-59632709461e3a33ccf4a802083121a8.ssl.cf5.rackcdn.com/assets/quadrobg.svg);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  z-index: 2;
}
.header__overlay__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.96;
  background-color: #4285f4;
  z-index: 1;
}

.header__content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 32vh;
  padding-top: 7em;
  overflow: auto;
  color: #ffffff;
  z-index: 5;
  position: relative;
}
.header__content__inner {
  width: 100%;
  text-align: center;
}

.steps__container {
  padding: 1em 0;
}

.step {
  padding: 1em 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.step__img {
  width: 100%;
}

.point {
  width: 90%;
  position: relative;
  max-width: 44em;
  margin-bottom: 32pt;
  margin-left: 16pt;
  margin-right: 16pt;
  padding: 24pt 0;
  flex-shrink: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*# sourceMappingURL=style.css.map */
