.cards
    width: 100%
    padding: 16pt
    display: inline-block
    float: left

    +e(container)
        display: flex
        justify-content: center
        flex-wrap: wrap
        -webkit-box-pack: center

.card
    margin: 16pt 16pt 30pt 16pt
    width: 90%
    border: 1px solid rgba(0,0,0,.2)
    background-color: $white
    position: relative
    text-align: center
    max-width: 30em
    border-radius: 4px
    +box_shadow(2)

    +e(img)
        display: inline-block
        width: 8em
        margin: 1.7em 2em
        

    +e(texts)
        max-width: 350px
        margin: 0 auto
        padding: 0.6em
        text-align: center

    +e(title)
        padding: 0
        margin: 1em 1em 0 1em
        font-size: 1.35em
        font-weight: 400
        line-height: 1.6
    
    +e(social)
        margin: .2em
        padding-left: .5em
        padding-right: .5em
        display: inline-block
        text-align: center


    +e(text)
        margin: 4pt 0
        font-size: .925rem
        font-weight: 300
        padding: 8pt 0
        color: $grey

.card__social__item
        list-style-type: none
        float: left
        padding: .5em
        text-align: center

.fab
    transition: color .7s,border-color .7s
    color: $grey-light

.fab:hover
    color: $grey
        