.header
    position: relative

    +e(sub)
        font-size: 1.4rem
        font-weight: 300
        line-height: 1.7
        color: #545c62
        padding: 5pt 0 8pt

        +m(stressed)
            border-bottom: 1px solid #545c62
            font-weight: 400

    +e(bg)
        position: absolute
        height: 100%
        width: 100%
        background-color: #fafafa
        z-index: 1

.header__content
    display: flex
    -webkit-box-align: center
    align-items: center
    min-height: 32vh
    padding-top: 7em
    overflow: auto
    color: #ffffff
    z-index: 5
    position: relative

    +e(inner)
        width:100%
        text-align: center

.header__logo
    margin-top: 1em
    width: 15em

.button
    cursor: pointer
    outline: 0
    border: none
    border-bottom: 1px solid #4285f4

    +e(secondary)
        background: #06d19c
        padding: 8pt 32pt 7pt
        border-radius: 25px
        margin-top: 16pt
        color: #ffffff
        display: inline-block
        margin-bottom: 2em

.hero
    background-image: url(https://source.unsplash.com/1600x900/?nature,water)
    opacity: .75
    background-repeat: no-repeat
    width: 100%
    height: 25em
    padding: 2em 0
    background-color: fafafa
    +box-shadow(2)
