@media (min-width: 600px) {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin: 0 0.5em;
    width: 100vw;
    height: 50vh;
  }
}

.photo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo__one {
  background-image: url("https://source.unsplash.com/500x500/?beach");
}
