.points
    width: 100%
    padding: 48pt 2.7em
    background-color: #fafafa
    float: left
    
    +e(container)
        display: flex
        justify-content: center
        flex-wrap: wrap
        -webkit-box-pack: center

.point
    width: 90%
    background-color: #ffffff
    position: relative
    max-width: 44em
    margin-bottom: 32pt
    margin-left: 16pt
    margin-right: 16pt
    padding: 24pt 0
    flex-shrink: 0
    +box-shadow(1)