@import 'modules/norminalize'
@import 'modules/mixins'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400')

html
    background-color:#fff
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -moz-font-feature-settings: "liga" on
    text-rendering: optimizeLegibility
    font-family: 'Roboto',sans-serif
    font-size:15px
    color:#545c6e
    line-height:1.7


a 
    text-decoration: none
    background-color: transparent 
    cursor: pointer

*
    box-sizing: border-box

p 
 font-weight:300
 padding:8pt 0
 color:#757575

h3 
 font-size:1.35rem
 line-height:1.6

h1,h2,h3,h4,h5,h6
 font-weight:400
 padding:8pt 0



.container
    width: 80%
    max-width: 72em
    margin: 0 auto
    position: relative


@import 'modules/navBar.sass'

@import 'modules/header.sass'

@import 'modules/steps.sass'

@import 'modules/points.sass'

@import 'modules/cards.sass'

@import 'modules/footer.sass'
